<!-- _footer.html.erb -->
<footer class="mt-8 bg-grey-lightest w-full pin-b border-t border-grey-light p-8">
  <div class="flex items-center justify-between flex-wrap text-grey-darker">
    <span>Made with <svg class="h-4 w-4 fill-current text-red inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 3.22l-.61-.6a5.5 5.5 0 0 0-7.78 7.77L10 18.78l8.39-8.4a5.5 5.5 0 0 0-7.78-7.77l-.61.61z"/></svg> in Lyon.</span>
  </div>
</footer>
