<!-- _user_text_avatar.html.erb -->
<div class="rounded-full h-<%= size %> w-<%= size %> p-4 mx-4 flex items-center justify-center btn btn-primary">
  <div class="text-<%= breakpoint %>">
    <%= user.initials %>
  </div>
</div>
